@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.box {
  width: 510px;
  height: auto;
  margin: 150px auto;
  border: 8px solid crimson;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 3px 3px 3px gainsboro;
}

.pic {
  border-radius: 20px;
}

.button1 {
  line-height: 1;
  background-color: yellow;
  padding: 10px;
  width: 150px;
  border-radius: 30px;
  text-align: center;
}
.fontfamily {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.button2 {
  background-color: purple;
  padding: 10px;
  width: 150px;
  border-radius: 30px;
  color: white;
}
.italics{
font-style: italic;
}
