
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color :bisque;
}
img {
 padding-top: 10px;
  border-radius: 50%;
}
.title {
  color: grey;
  font-size: 18px;
}
.card p{
  border-radius: 10px;
}
button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

#name{
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
  font-style: normal;
}

