* {
    margin: 0;
    padding: 0;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #080808;
}

li {
    padding-left: 10px;
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.right {
    float: left;
}

.container {
    margin-left: 50%;
    border: solid blue 3px;
    background-color: rgb(182, 182, 236);
    color: #fcfbfb;
    width: 600px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 50px;
    border-radius: 10px;
}
.container>svg{
    position:absolute;
    top:5px;
    right:5px;
}

.footer {
    position: fixed;
    left: 0;
    padding: 20px;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #080808;
    color: white;
    text-align: center;
}
a{
    color: white;
}
