#score-card {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #score-card td, #score-card th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #score-card tr:nth-child(even){background-color: #f2f2f2;}
  
  #score-card tr:hover {background-color: #ddd;}
  
  #score-card th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
